@{
    ViewData["Title"] = "Gerir Noticias";
}

<div class="text-center">
    <h2 class="display-4">Gerir Noticias</h2>
</div>

<br />

<form class="col-md-6" action="/GerirNoticia/Salvar" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="Titulo">Título</label>
        <input type="text" class="form-control" name="Titulo">
    </div>

    <div class="form-group">
        <label for="Descricao">Descrição</label>
        <textarea class="form-control" name="Descricao" rows="6"></textarea>
    </div>

    <div class="form-group">
        <label for="Faça upload da imagem">Faça upload da imagem</label>
        <input type="file" class="form-control-file" name="ArquivoImagem">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>